<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>辅导员首页</title>
    {include file="public/header"}
    <link rel="stylesheet" href="__CSS__/index.css">
</head>
<body>
<div class="alert alert-info py-5">
   <h2 class="h2 text-center">
       辅导员首页
   </h2>
</div>
<div class="border p-4 pb-5 bg-light">
<div>
    <a href="/teacher/checkroom" class="text-center nav d-inline-block border p-2 rounded shadow">
        <img src="__IMG__/sushe.png" alt="" class="nav_img">
        <p class="w-100 m-1  p-1 text-center">查宿</p>
    </a>
    <a href="/teacher/checklog" class="text-center nav d-inline-block border p-2 rounded shadow">
        <img src="__IMG__/jilu.png" alt="" class="nav_img">
        <p class="w-100 m-1  p-1 text-center">记录</p>
    </a>
    <a href="/teacher/feedbacklog" class="text-center nav d-inline-block border p-2 rounded shadow">
        <img src="__IMG__/fk.png" alt="" class="nav_img">
        <p class="w-100 m-1  p-1 text-center">学生反馈</p>
    </a>
</div>
</div>
</body>
</html>